.experiencia {
    font-size: 52px;
    color: green !important;
    font-family: "Oswald";
  }

  #Trabajos {
    background-color: #28A745;
  }
  
  #Trabajos h1 {
    font-size: 52px;
  }
  
  #Trabajos div hr {
    width: 110px;
    height: 1pt;
  }
  
  #Trabajos h4 {
    font-family: "Oswald";
  }

#Footer{
    background-color: #28A745;
}
  #Footer h1 {
    font-family: "Oswald";
  }